# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
vite.config.ts.timestamp-*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

electron
dist-electron

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
dev-dist
dev-dist.gitsigners
cache
.eslintcache

# coverage results
coverage

# Used for local development
.devcontainer/

# from rollup-plugin-visualizer
packages/*/stats.html
apps/*/stats.html

# used for testing
tenderlyTestnetData.json
apps/webapp/src/test/e2e/persistent-vnet-snapshots.json
apps/webapp/playwright-report
apps/webapp/test-results
apps/webapp/test-results.json
**/test-account-pool-state.json
**/account-pool.lock

# locales
packages/utils/src/locales/*.po
packages/utils/src/locales/*.ts
